@model IEnumerable<TenMovies.Models.Movie>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<header>
    <div class="menu">
        <a asp-action="Index" class="admin">Вернуться на Главную</a>
    </div>
    <div>
        <label class="header">Топ 10 фильмов</label>
    </div>
</header>

<h1>Операции CRUD</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Director)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>  
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.Movies)
        {
            <tr>
                <td>
                   @item.Name
                </td>
                <td>
                     @item.Director
                </td>
                <td>
                    @item.Genre
                </td>
                <td>
                    @item.Year             
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

