@model IEnumerable<TenMovies.Models.Movie>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<header>
    <div class="menu">
        <a asp-action="Admin" class="admin">Админка</a>
    </div>
    <div>
        <label class="header">Топ 10 фильмов</label>
    </div>
</header>

@foreach (var item in ViewBag.Movies)
{
<div class="movie">
         
        <div class="image"><img class="img" src="@Url.Content(@item.Poster)" alt="@item.Name"></div>
    <div class="details">
            <p class="name">@item.Name</p>
            <p><span class="desc">Режисер: </span>@item.Director</p>
            <p><span class="desc">Жанр: </span> @item.Genre</p>
            <p><span class="desc">Год: </span> @item.Year</p>
            <p><span class="desc">Описание: </span>@item.Description</p>
    </div>
</div>
}
